body {
	font-family: 微软雅黑;
	padding-top: 55px;

}
h1,h2,h3,h4,h5,h6 {
	font-family: 微软雅黑;
}

.contact-section {
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: 1040;
}
.contact-content {
	display: none;
	background-color: #6699cc;
	color: white;
	/*font-size: 12px;*/
}
.contact-content p {
	padding: 5px 0;
	margin: 0;
}
.contact-content a {
	color: white;
}
.contactUs-icon {
	height: 40px;
	line-height: 40px;
	color: white;
	background-color: #6699CC;
	cursor: pointer;
	text-align: center;
	font-size: 1.5em;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;

	/*background: url(../img/contactUs_icon.png) no-repeat;*/
}

.home {
	display: inline-block;
	float: left;
	width: 18px;
	height: 18px;
	background: url(../img/home_icon.png) no-repeat;
}

.head-section {
	padding: 60px 0;
	margin-bottom: 5px;
	box-shadow: 1px 1px 5px 3px #e2e2e2;
}
.news {	
	margin-top: 20px;
	padding: 5px 10px;
	border-radius: 20px;
	background-color:#f0f0f0;
}
.news a {
	color: #5d5d5d;
}
.news a:hover {
	color: #6699cc;
}

.case-section {
	padding: 50px 0;
	background: url(../img/background.png);
}

.footer-section {
	background-color: #333333; 
	color: #cbcbcb;
	padding-top: 20px;
	font-size: 12px;
	position: relative;
}
.footer-section a {
	color: #cbcbcb;
	text-decoration: underline;
}
.footer-section a:hover {
	color: #6699cc;
	text-decoration: none;
}
.footer-section .right {
	border-left: 1px solid #2a2a2a;
	box-shadow: 1px -1px 1px 1px #373737 inset;
}
.copyright {
	position: absolute;
	bottom: 0px;
}

.color-s1 {
	color: #b89749;
}
.color-1 {
	color: #6699cc;
}
.bg-color-1 {
	background-color: #f2f2f2;
}
.border {
	border: 1px solid red;
}

.overview {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	z-index: 1040;
	background-color: #c5c5c5;
	background-color: rgba(197,197,197,0.8);
}
.overview-content {
	margin-top: 6%;
	padding: 20px;
	color: white;
	background-color: #999;
	border-radius: 5px;
	height: 550px;
	overflow-y: auto;
}
.overview .close {
	position: absolute;
	top: 0px;
	right: 0px;
	padding: 0;
	display: block;
	width: 40px;
	height: 40px;
	border-radius: 50%;	
	cursor: pointer;
	font-family: verdana;
	font-size: 40px;
	line-height: 35px;
	text-align: center;
}
.overview.active {
	display: block;
}

/*************Inner pages**********************/
.inner-head {	
	padding-left: 90px;
}
.inner-head.system {
	background: url(../img/icon_1.png) no-repeat;
}
.inner-head.service {
	background: url(../img/icon_3.png) no-repeat;
}
.inner-head.case {
	background: url(../img/icon_11.png) no-repeat;
}
.inner-head h3 {
	height: 80px;
	line-height: 80px;
	margin: 0;
}
.inner-content {
	padding: 40px 0 70px 0;
}
.inner-content h4 {
	color: #d97232;
	height: 40px;
	line-height: 40px;	
}
.inner-content ul {
	list-style-image: url(../img/icon_2.png);
}

.case-content ul {
	list-style-type: none;
}
.case-content li {
	background-color: white;
	padding: 20px 50px;
	margin: 40px 0;
	box-shadow: 1px 1px 5px 3px #e2e2e2;
}
.case-content li h5 {
	cursor: pointer;
}

.login {
	margin-top: 40px;
}
.login .border {
	border: 2px solid #b5b5b5;
	border-radius: 4px;
	min-height: 225px;
}

.terms {
	margin: 50px 0;
}
.terms-title {
	background-color: #333333;
	margin-bottom: 30px;
}
.terms-title h5 {
	color: white;
	padding: 0;
}

/*************Bootstrap Override****************/
.navbar-default {
  background-color: #fff;
  border: none;  
}
.navbar .navbar-nav {
	margin-top: 25px;
}
.navbar .navbar-nav > li > a {
	color: #5e5e5e;
}
.navbar .navbar-nav > li > a:hover {
	color: #6699cc;
	background-color: transparent;
}
.navbar .navbar-nav .active a {
	color: #6699cc;	
	background-color: transparent;
}
.navbar .navbar-nav .active a:hover {
	color: #6699cc;
	background-color: transparent;
}
.navbar-fixed-top {
	/*min-height: 76px;*/
	border-top: 4px solid #6699cc;
	border-bottom: 1px solid #c5c5c5;
}

.carousel-control.left,
.carousel-control.right {
	background-image: none;
}
.carousel-control span {
	position: absolute;
	z-index: 2000;
	top: 60%;
	width: 45%;
	height: 45%;
	border: 2px solid #ddd;
	text-indent: -90000px;
	cursor: pointer;
	
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
	
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}
.carousel-control span:hover {
	border-color: rgba(39,115,175,0.9);
}
.carousel-control.left span {
	left: 15px;
	border-right: none;
	border-top: none;
}
.carousel-control.right span {
	right: 15px;
	border-left: none;
	border-bottom: none;
}

.thumbnail {
	background-color: transparent;
	border: none;	
}
.thumbnail img {
	cursor: pointer;
}
.thumbnail > p {
	font-size: 12px;
}

.badge {
	width: 40px;
	height: 40px;
	line-height: 35px;
	border-radius: 40px;
	font-size: 24px;
	font-family: 黑体;
	margin: 0 20px;
	background-color: #d97232;
}
