*
{
	margin: 0;
	padding: 0;
}
body 
{
	font-family: 微软雅黑;
}
h1,h2,h3,h4,h5,h6
{
	font-family: 微软雅黑;
}
.index-container
{
	margin: 0 auto;
	width: 1370px;
	height: 800px;
	background: url(../image/indexbg.jpg) no-repeat;
}